## 作業目標：運用scikit-learn API 實現K-fold分割資料

---

### 讀入資料

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
dataset = pd.read_csv(r'/content/drive/MyDrive/NLP/Social_Network_Ads.csv')

In [3]:
dataset

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    float64
 3   EstimatedSalary  400 non-null    float64
 4   Purchased        400 non-null    int64
dtypes: float64(2), int64(2), object(1)
memory usage: 15.8+ KB

In [8]:
dataset['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

### 取出訓練特徵與標註

In [5]:
X = dataset[['User ID', 'Gender', 'Age', 'EstimatedSalary']].values
Y = dataset['Purchased'].values

---

In [6]:
import numpy as np
from sklearn.model_selection import KFold

### 將訓練資料按照順序切割成10等分

In [9]:

kf = KFold(n_splits=10, random_state=None, shuffle=False)
kf.get_n_splits(X)

print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)

### 將訓練資料隨機切割成10等分

In [10]:
kf = KFold(n_splits=10, random_state=None, shuffle=True)
kf.get_n_splits(X)

print(kf)

KFold(n_splits=10, random_state=None, shuffle=True)

---

### 取出 切割資料對應位置

In [11]:
train_split = kf.split(X)
next(train_split)

(array([  0,   1,   2,   3,   4,   5,   6,   7,   8,  10,  11,  12,  13,
         14,  15,  16,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
         41,  45,  46,  47,  48,  49,  52,  53,  54,  55,  56,  57,  58,
         59,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
         73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,
         86,  87,  88,  89,  90,  91,  92,  94,  95,  96,  97,  98, 100,
        101, 102, 104, 105, 106, 107, 108, 109, 110, 112, 113, 114, 115,
        116, 117, 118, 119, 120, 122, 123, 125, 126, 127, 128, 129, 130,
        131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 142, 144, 145,
        146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 159,
        160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 172, 173,
        174, 175, 176, 178, 179, 180, 181, 182, 184, 185, 186, 187, 188,
        189, 190, 191, 192, 193, 194, 195, 197, 198, 199, 200, 201, 202,
        203, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
        217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230,
        231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 242, 243, 244,
        246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 258, 259,
        260, 261, 262, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
        274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
        287, 288, 289, 290, 291, 292, 293, 296, 297, 299, 300, 301, 302,
        303, 304, 305, 306, 307, 308, 309, 310, 312, 313, 314, 315, 316,
        317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329,
        330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 341, 342, 343,
        344, 345, 346, 347, 348, 349, 350, 351, 353, 354, 355, 356, 357,
        360, 361, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374,
        375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388,
        390, 391, 392, 394, 395, 396, 397, 398, 399]),
 array([  9,  17,  42,  43,  44,  50,  51,  60,  93,  99, 103, 111, 121,
        124, 141, 143, 158, 171, 177, 183, 196, 204, 229, 241, 245, 257,
        263, 294, 295, 298, 311, 340, 352, 358, 359, 362, 363, 379, 389,
        393]))

### Or

In [12]:
for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [  2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  20
  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
  40  41  42  43  45  46  47  48  49  50  51  52  53  54  55  56  57  60
  61  62  63  64  65  66  68  69  70  71  72  73  74  75  76  77  78  79
  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  99 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 137 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 160 161 163 164 165 166 167 169 170 171 172 173 174 175 176 177 178
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 196 197 198
 199 200 201 202 203 204 205 206 208 209 210 213 214 215 216 217 218 219
 220 221 222 223 224 225 226 227 228 229 231 233 235 236 237 238 239 240
 241 242 244 246 247 248 249 250 251 252 253 254 255 256 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 295 296 297 298
 299 300 301 302 303 305 306 307 308 310 311 312 313 314 315 316 317 318
 319 320 321 322 323 325 326 327 328 329 330 331 332 333 334 336 337 338
 339 340 342 343 344 345 346 347 348 349 350 352 353 354 355 356 357 359
 360 361 363 364 365 366 367 368 370 371 372 373 374 376 377 378 379 380
 381 382 383 384 385 386 387 388 389 391 392 393 394 395 396 397 398 399] TEST: [  0   1  19  21  44  58  59  67  98 100 101 102 136 138 159 162 168 179
 195 207 211 212 230 232 234 243 245 257 294 304 309 324 335 341 351 358
 362 369 375 390]
TRAIN: [  0   1   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  39  40  41  42  43  44  45  46  48  49  50  51  52  53  54  55  56  57
  58  59  60  61  62  63  64  65  66  67  68  70  71  72  73  75  76  77
  78  79  80  81  82  84  85  86  87  88  89  90  91  92  93  94  95  96
  98  99 100 101 102 104 105 106 107 108 109 110 111 112 113 114 115 116
 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 135
 136 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 157 158 159 160 161 162 163 165 166 167 168 169 171 172 173 174
 175 176 177 178 179 180 181 183 186 187 188 189 190 191 192 194 195 196
 197 198 199 200 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 226 227 228 229 230 231 232 233 234 235 236
 237 238 239 240 241 243 244 245 246 247 248 249 250 252 253 254 255 257
 258 259 260 261 262 263 264 265 267 268 269 270 271 273 274 276 277 278
 280 281 282 283 284 286 287 288 289 290 291 292 294 295 296 297 298 299
 300 301 302 303 304 305 306 307 309 310 311 312 313 314 315 316 317 318
 319 320 321 322 323 324 325 326 327 328 330 331 332 333 334 335 336 337
 338 339 340 341 343 344 345 346 347 348 350 351 352 353 354 355 356 357
 358 359 360 361 362 363 364 365 366 367 368 369 371 372 373 374 375 376
 377 378 379 381 385 386 387 388 389 390 391 392 393 394 395 396 397 398] TEST: [  2   3  38  47  69  74  83  97 103 134 137 164 170 182 184 185 193 201
 223 224 225 242 251 256 266 272 275 279 285 293 308 329 342 349 370 380
 382 383 384 399]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  11  13  14  15  16  17  18  19
  20  21  23  24  25  27  28  29  30  31  32  33  34  35  36  37  38  40
  41  42  43  44  46  47  48  49  50  51  52  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  73  74  75  78  79  80  81
  82  83  84  85  86  87  89  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 136 137
 138 139 140 142 143 144 145 147 149 150 151 153 155 156 157 158 159 160
 162 163 164 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 182 183 184 185 186 188 189 190 191 192 193 194 195 196 198 199 200 201
 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 218 219 220
 221 222 223 224 225 226 227 228 230 231 232 233 234 235 237 238 240 241
 242 243 244 245 246 247 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 264 265 266 267 268 270 271 272 273 274 275 276 277 279 280 281
 282 283 285 286 287 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320
 321 322 323 324 325 327 328 329 330 331 332 333 334 335 336 337 339 340
 341 342 343 344 345 346 348 349 350 351 352 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 392 394 395 396 397 399] TEST: [ 10  12  22  26  39  45  53  72  76  77  88 135 141 146 148 152 154 161
 165 181 187 197 217 229 236 239 248 263 269 278 284 288 305 326 338 347
 353 391 393 398]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  19  20  21  22  23  24  25  26  27  29  31  32  34  35  36  37  38  39
  40  41  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58
  59  60  61  62  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  82  83  84  85  86  88  89  90  91  93  95  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 115 116 117 118 119 120
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 141
 142 143 145 146 147 148 150 151 152 153 154 155 157 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 191 192 193 194 195 196 197 199 200 201
 202 203 204 205 207 208 209 210 211 212 213 215 216 217 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 241 242 243 244 245 247 248 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278
 279 281 282 283 284 285 286 287 288 289 291 292 293 294 296 297 298 299
 300 301 302 304 305 307 308 309 310 311 312 314 315 316 317 318 320 321
 322 324 325 326 327 328 329 330 331 332 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 360
 361 362 363 364 365 368 369 370 371 373 374 375 376 377 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399] TEST: [ 18  28  30  33  42  63  64  81  87  92  94  96 114 121 139 140 144 149
 156 158 190 198 206 214 240 246 249 280 290 295 303 306 313 319 323 333
 359 366 367 372]
TRAIN: [  0   1   2   3   4   6   7   9  10  11  12  13  14  15  17  18  19  20
  21  22  23  24  26  27  28  29  30  31  32  33  34  35  37  38  39  42
  43  44  45  47  49  50  51  53  54  55  56  57  58  59  60  61  63  64
  65  66  67  68  69  70  72  73  74  76  77  78  79  80  81  82  83  84
  85  86  87  88  89  90  91  92  94  95  96  97  98  99 100 101 102 103
 104 105 106 107 108 110 111 112 113 114 115 116 117 118 119 120 121 124
 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 167 168 169 170 171 173 174 175 177 178 179 180 181 182
 183 184 185 186 187 188 190 192 193 194 195 196 197 198 199 200 201 202
 203 204 205 206 207 208 209 210 211 212 213 214 217 218 219 220 221 222
 223 224 225 226 227 228 229 230 231 232 234 235 236 237 239 240 241 242
 243 244 245 246 248 249 251 252 253 254 255 256 257 258 259 262 263 264
 265 266 267 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 290 291 292 293 294 295 297 298 299 300 301 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 333 334 335 336 337 338 339 340
 341 342 343 344 345 346 347 348 349 351 352 353 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 390 391 392 393 394 396 397 398 399] TEST: [  5   8  16  25  36  40  41  46  48  52  62  71  75  93 109 122 123 142
 166 172 176 189 191 215 216 233 238 247 250 260 261 268 289 296 332 350
 354 388 389 395]
TRAIN: [  0   1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  24  25  26  28  29  30  31  32  33  34  35  36  38  39
  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57
  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75
  76  77  78  79  80  81  83  85  86  87  88  89  90  91  92  93  94  95
  96  97  98 100 101 102 103 104 106 107 108 109 110 112 113 114 115 116
 117 118 119 120 121 122 123 124 125 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 146 148 149 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 193 195
 196 197 198 200 201 202 203 204 205 206 207 209 211 212 213 214 215 216
 217 221 222 223 224 225 226 227 228 229 230 231 232 233 234 236 237 238
 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256
 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 275
 276 277 278 279 280 281 283 284 285 288 289 290 292 293 294 295 296 297
 298 299 300 301 303 304 305 306 307 308 309 311 313 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 332 333 334 335 336 337 338
 339 340 341 342 344 345 347 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 372 374 375 376 377 379 380
 381 382 383 384 385 386 387 388 389 390 391 393 394 395 396 397 398 399] TEST: [  6  23  27  37  82  84  99 105 111 126 145 147 150 151 192 194 199 208
 210 218 219 220 235 274 282 286 287 291 302 310 312 314 331 343 346 348
 371 373 378 392]
TRAIN: [  0   1   2   3   5   6   7   8   9  10  11  12  13  14  15  16  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  44  45  46  47  48  49  51  52  53  54  56  57  58
  59  60  62  63  64  66  67  68  69  70  71  72  74  75  76  77  78  79
  80  81  82  83  84  85  87  88  90  91  92  93  94  95  96  97  98  99
 100 101 102 103 104 105 106 107 108 109 110 111 112 114 115 116 117 118
 119 121 122 123 124 125 126 128 129 130 131 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 154 155 156 157 158
 159 160 161 162 163 164 165 166 167 168 169 170 171 172 175 176 177 178
 179 180 181 182 183 184 185 186 187 189 190 191 192 193 194 195 197 198
 199 200 201 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219
 220 221 222 223 224 225 226 227 228 229 230 232 233 234 235 236 237 238
 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256
 257 258 259 260 261 262 263 265 266 267 268 269 270 271 272 273 274 275
 278 279 280 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296
 298 300 301 302 303 304 305 306 308 309 310 311 312 313 314 316 317 318
 319 321 322 323 324 326 327 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 346 347 348 349 350 351 352 353 354 355 356 357 358
 359 360 361 362 363 365 366 367 368 369 370 371 372 373 375 376 377 378
 380 381 382 383 384 386 388 389 390 391 392 393 394 395 396 397 398 399] TEST: [  4  17  43  50  55  61  65  73  86  89 113 120 127 132 153 173 174 188
 196 202 203 204 231 264 276 277 281 297 299 307 315 320 325 328 345 364
 374 379 385 387]
TRAIN: [  0   1   2   3   4   5   6   8   9  10  11  12  13  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  71  72  73  74
  75  76  77  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
  94  95  96  97  98  99 100 101 102 103 105 106 108 109 110 111 113 114
 116 118 120 121 122 123 125 126 127 129 131 132 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 170 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195
 196 197 198 199 200 201 202 203 204 206 207 208 210 211 212 214 215 216
 217 218 219 220 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 242 243 244 245 246 247 248 249 250 251 255 256 257
 258 259 260 261 263 264 265 266 267 268 269 272 273 274 275 276 277 278
 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296
 297 298 299 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 318 319 320 321 323 324 325 326 327 328 329 331 332 333 334 335 337 338
 339 340 341 342 343 345 346 347 348 349 350 351 352 353 354 355 356 358
 359 361 362 363 364 365 366 367 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 395 398 399] TEST: [  7  14  70  78 104 107 112 115 117 119 124 128 130 133 169 171 205 209
 213 221 241 252 253 254 262 270 271 300 316 317 322 330 336 344 357 360
 368 394 396 397]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  16  17  18
  19  21  22  23  24  25  26  27  28  29  30  31  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  50  51  52  53  55  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  81  82  83  84  86  87  88  89  90  92  93  94  95  96  97  98  99 100
 101 102 103 104 105 106 107 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 132 133 134 135 136 137 138
 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156
 157 158 159 161 162 164 165 166 167 168 169 170 171 172 173 174 176 178
 179 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 223 224 225 229 230 231 232 233 234 235 236 238
 239 240 241 242 243 245 246 247 248 249 250 251 252 253 254 256 257 258
 259 260 261 262 263 264 266 268 269 270 271 272 273 274 275 276 277 278
 279 280 281 282 284 285 286 287 288 289 290 291 293 294 295 296 297 298
 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316
 317 319 320 322 323 324 325 326 328 329 330 331 332 333 334 335 336 338
 339 341 342 343 344 345 346 347 348 349 350 351 353 354 357 358 359 360
 361 362 363 364 366 367 368 369 370 371 372 373 374 375 376 378 379 380
 381 382 383 384 385 387 388 389 390 391 392 393 394 395 396 397 398 399] TEST: [ 15  20  32  49  54  56  57  79  80  85  91 108 131 160 163 175 177 180
 222 226 227 228 237 244 255 265 267 283 292 318 321 327 337 340 352 355
 356 365 377 386]
TRAIN: [  0   1   2   3   4   5   6   7   8  10  12  14  15  16  17  18  19  20
  21  22  23  25  26  27  28  30  32  33  36  37  38  39  40  41  42  43
  44  45  46  47  48  49  50  52  53  54  55  56  57  58  59  61  62  63
  64  65  67  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  91  92  93  94  96  97  98  99 100 101 102 103
 104 105 107 108 109 111 112 113 114 115 117 119 120 121 122 123 124 126
 127 128 130 131 132 133 134 135 136 137 138 139 140 141 142 144 145 146
 147 148 149 150 151 152 153 154 156 158 159 160 161 162 163 164 165 166
 168 169 170 171 172 173 174 175 176 177 179 180 181 182 184 185 187 188
 189 190 191 192 193 194 195 196 197 198 199 201 202 203 204 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 260 261 262 263
 264 265 266 267 268 269 270 271 272 274 275 276 277 278 279 280 281 282
 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 299 300 302
 303 304 305 306 307 308 309 310 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 335 336 337 338 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 362 364 365 366 367 368 369 370 371 372 373 374 375 377 378 379 380
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399] TEST: [  9  11  13  24  29  31  34  35  51  60  66  68  90  95 106 110 116 118
 125 129 143 155 157 167 178 183 186 200 258 259 273 298 301 311 334 339
 361 363 376 381]

### 取出切割資料：trainset / testset 特徵(x_train/x_test)/標註(y_train/y_test)

In [13]:
for train_index, test_index in kf.split(X):
    x_train, x_test = X[train_index], X[test_index]
    y_train, y_test = Y[train_index], Y[test_index]